body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    color: var(--black);
}
.card { width: 300px; margin: 100px auto; padding: 20px; border: 1px solid #ddd; border-radius: 10px; }
.sidebar { width: 250px; background: #007BFF; color: #fff; height: 100vh; padding: 20px; }
.sidebar a { display: block; color: #fff; padding: 12px; text-decoration: none; font-weight: 400; }
.sidebar a:hover { background: #FF8C00; }
.btn-primary { background-color: #FF8C00; color: white; border: none; padding: 10px; width: 100%; cursor: pointer; }
#content { padding: 40px; flex-grow: 1; }

:root {
    --orange: #FF8C00;
    --blue: #007BFF;
    --white: #FFFFFF;
    --black: #333333;
}
h1, h2 { font-weight: 700; } /* Hii ni Poppins Bold */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');